@import './assets/fonts.css';

html {
    font-size: 20px;
}

table {
    width: 100%;
    table-layout:fixed;
    word-break: break-all;
}

.commondiv {
    max-width: 100%;
    text-align: center;
}

#profilepicturediv {
    text-align: center;
}

.common { 
    max-width: 80%; 
    height: auto; 
}

#userPic { 
    text-align: center;
    max-width: 70%;
      margin-left: auto;
  margin-right: auto; 
    height: auto; 
}

#profileimagediv {
    height: 100px;
    width: 100px;
}

#contextinfo {
    display: none;
}

#accesstokendata, #profileinfo {
    display: none;
}

.buttongroup {
    text-align: center;
}

button {
    margin: 16px;
}

body {
    background-color: black;
}

div .center-center {
    display: flex;
  align-items: center;
  justify-content: center;
  /*flex-direction: column;*/
}

img .center-center {
    display: flex;
  align-items: center;
  justify-content: center;
  /*flex-direction: column;*/
}

.vertical-center {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer {
   position: fixed;
   left: 0;
   bottom: 3%;
   height: 10%;
   width: 100%;
   background-color: black;
   color: white;
}

.subfooter {
    /*padding-bottom: 20;*/
   position: fixed;
   left: 0;
   /*bottom: 15%;*/
   height: 10%;
   width: 100%;
   background-color: #666666;
   color: white;
}

.footer-left {
   text-align: left;
   padding-left:2%;
}
.footer-right {
   text-align: right;
   padding-right:2%;
}

.subfooter-left { 
    /*max-width: 20%;*/
    margin-top:1%;
    margin-left: 2%; 
    height: 90%; 
}

.imgfooter-left { 
    /*max-width: 20%;*/
    margin-left: 10%; 
    height: 80%; 
}

.imgfooter-right { 
    /*max-width: 20%;*/
    margin-right: 10%; 
    height: 80%; 
}
